version: "3.8"

services:
  web:
    build: .
    container_name: ${PROJECT_NAME}-web
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - ../:/var/www/html

  adminer:
    image: adminer
    container_name: ${PROJECT_NAME}-adminer
    depends_on:
      - db
    ports:
      - "8081:8080"

  db:
    image: mysql
    container_name: ${PROJECT_NAME}-db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: zsf
      MYSQL_ROOT_PASSWORD: P@55word