@import "./base.css";

:root {
	--link-color: hsla(160, 100%, 37%, 1);
	--hover-background-color: hsla(160, 100%, 37%, 0.2);
}

#app {
	padding: 2rem;
	font-weight: normal;
}

#app main {
	margin-top: 10px;
}

a,
.green {
	text-decoration: none;
	color: var(--link-color);
	transition: 0.4s;
	padding: 3px;
}

.link {
	cursor: pointer;
}

h1 {
	text-align: center;
	margin-bottom: 25px;
}

@media (hover: hover) {
	a:hover {
		background-color: var(--hover-background-color);
	}
}
