$primaryColor:#009688;
$primaryLightestColor: #E0F2F1;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#96000f;
$accentTextColor:#ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
