<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP 8.1" />
            <remove name="PHP 7.4" />
            <remove name="PHP 7.3" />
            <remove name="PHP 7.2" />
            <remove name="PHP 5.6" />
            <remove name="PHP 5.3" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="API Rewrite" stopProcessing="true">
                    <match url="api/1/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="api/1/index.php?url={R:1}" appendQueryString="true" />
                </rule>
                <rule name="All Else">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.html" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
